body {
	font-family: Tahoma;
}

button:focus {  /*псевдокласс при нажатии на кнопку, нужно убрать синюю рамку*/
	outline: none;
}
.container	{
	width: 1140px; /*задаём ширину сетки bootstrap*/
	margin-left: auto;
	margin-right: auto; /*задаём позицию контейнера всегда ровно посередине*/
}
.header {
	padding-top: 77px;
	padding-bottom: 96px;
}
.header-img {
	display: inline-block;
	width: 45%;
	vertical-align: middle;
}
.header-text {
	display: inline-block;
	width: 54%;
	vertical-align: middle; /*размещаем посередине, а теперь текст будет расти вверх вниз*/
}
.header-text__title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 15px;
}

.header-text__subtitle {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 35px;
}

.header-text__descr {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 47px;
	max-width: 530px;   /*ограничиваем максимальную ширину текста, чтобы было как на макете*/
}

.header-text__price {
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 53px;
}

.button {
	border-radius: 5px;
	background-color: #f05a22;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	color: #ffffff;
	padding: 22px 43px;
}

.button-o {
	color: #f05a22 ;
	background-color: transparent; /*делаем фоновый цвет прозрачным*/
	border: 1px solid #f05a22;
}

.section-title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	line-height: 27px;
	margin-bottom: 88px;
}

.features {
	padding-top: 90px;
	padding-bottom: 99px;
	background-color: #f2f2f2;
}



.features-wrap::after { /*псевдоэлемент для обновления float, 
												чтобы после этого блока не было обтекания слева*/
	content: '';
	display: table;
	clear: both;
}

.features-block {
	display: inline-block;
	text-align: center;
	width: 25%;
	float: left;		/*задаём свойство обтекания элемента*/
}

.features-block__img {
	min-height: 50px;
	margin-bottom: 23px;
}

.features-block__text {
	color: #333333;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

.buyer-title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	line-height: 27px;
	margin-top: 89px;
	margin-bottom: 69px;
}

.buyer-block__img  {
	display: inline-block;
	width: 261px;
	height: 261px;
	padding-right: 30px;
}

.buyer-block {
	padding-bottom: 40px;
	text-align: center;
}
